/*
Theme Name: Alejandroverjel.com
Theme URI: http://www.alejandroverjel.com
Template: Divi
Author: Jim Alejandro Verjel
Author URI: Jim Alejandro Verjel
Description: Diseño web - Marketing Digital - Google Adwords
Version: 1.0.1536854570
Updated: 2018-09-13 11:02:50

*/


#page-container {
    overflow-x: hidden;
}

/*—————–[Botón CTA]—————-*/
/*—————–[por FUNTOR]—————-*/
.cta {border-radius: 0px;}
.cta a {color: #fff!important;}
li.cta {
border: 1px solid white;
font-weight: 700;
text-transform: uppercase;
text-align: center;
padding: 14px 22px 28px 22px!important;
border-radius: 4px;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
transition: all 0.5s;}
li.cta:hover {background-color:#ED155C; border-color:#ED155C;}


/* fixed header button text color */
.et-fixed-header #top-menu .cta a {
color: #fff!important;}
.cta li.current-menu-ancestor > a, .cta li.current-menu-item > a {
color: #fff !important;}

@media only screen and (min-width : 981px) {
li.cta {height: 33px;}}
/*—————–[FIN]—————-*/

.et_pb_text ul li {
    list-style-type: none;
}

.et_pb_text ul li::before {
    font-family: 'ETmodules';
    content: "\3D";
    font-size: 130%;
    color: #25AAE1;
    float: left;
    margin-left: -1em;
    margin-right: 0.5em;
}
