<meta charset="utf-8">
<div id="jim-sign-wrap" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; color:#494949;">
	<figure style="border-radius:50%; width:90px; overflow:hidden; margin:15px 0; padding:0"><img src="https://www.alejandroverjel.com/firma/alejandroverjel.png" alt="Alejandro verjel" title="Publicista" style="max-width:100%"></figure>
	<h1 style="font-size:14.5px; font-weight:600; margin:0">Jim Alejandro Verjel <sup style="font-size:10px">®</sup></h1>
	<h2 style="font-size:14.5px; font-weight:300; margin:0">Publicista / Consultor en Marketing Digital</h2>
	<h2 style="font-size:14.5px; font-weight:300; margin:0">Especialista en Google Ads</h2>
	
	<div style="margin:18px 0;">
		<span style="margin-right:30px; font-size:14.5px; font-weight:300;">
			<img src="https://www.alejandroverjel.com/firma/telefono.png" alt="Teléfono" title="Teléfono" style="vertical-align:middle; width:30px; margin-right:6px;"> +57 (300) 2081105
		</span>
		<span style="font-size:14.5px; font-weight:300;">
			<img src="https://www.alejandroverjel.com/firma/correo.png" alt="Correo" title="Correo" style="vertical-align:middle; width:30px; margin-right:6px;"> <a href="mailto:digital@alejandroverjel.com" style="font-size:14.5px; font-weight:300; color:#4a4a4a; text-decoration:none" target="_blank">digital@alejandroverjel.com</a>
		</span>
	</div>
	<div>
		<ul id="jim-social" style="margin:0; padding:0; display:inline-block">
			<li style="display:inline-block; list-style:none; margin-right:6px">
				<a href="https://www.facebook.com/AlejandroVerjel" style="color:#27c5c3;  text-decoration:none" target="_blank">
					<img src="https://www.alejandroverjel.com/firma/facebook.png" alt="Facebook" title="Facebook" style="vertical-align:middle; width:30px;">
				</a>
			</li>
			<li style="display:inline-block; list-style:none; margin-right:6px">
				<a href="https://www.instagram.com/alejandroverjel/" style="color:#27c5c3;  text-decoration:none" target="_blank">
					<img src="https://www.alejandroverjel.com/firma/instagram.png" alt="Instagram" title="Instagram" style="vertical-align:middle; width:30px;">
				</a>
			</li>
			<li style="display:inline-block; list-style:none; margin-right:6px">
				<a href="https://twitter.com/alejandroverjel" style="color:#27c5c3;  text-decoration:none" target="_blank">
					<img src="https://www.alejandroverjel.com/firma/twitter.png" alt="Twitter" title="Twitter" style="vertical-align:middle; width:30px;">
				</a>
			</li>
			<li style="display:inline-block; list-style:none; margin-right:6px">
				<a href="https://www.linkedin.com/in/alejandroverjel/" style="color:#27c5c3;  text-decoration:none" target="_blank">
					<img src="https://www.alejandroverjel.com/firma/linkedin.png" alt="LinkedIn" title="LinkedIn" style="vertical-align:middle; width:30px;">
				</a>
			</li>
		</ul>
		<a href="https://www.alejandroverjel.com/" target="_blank" style="font-size:16.5px; font-weight:600; color:#27c5c3;  text-decoration:none">www.alejandroverjel.com</a>
	</div>
</div>